section.principal{
    header{
        margin-top: 1.5625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .4375rem;

        h1{
            font-family: "Sora", serif;
            font-weight: 700;
            font-size: 1.6669rem;
            letter-spacing: -2%;
            line-height: 40px;
            color: var(--content-secondary);
        }
    }

    .title{
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 4.875rem;


        h1{
            font: var(--title);
            color: var(--content-primary);
        }
    }

    form{
        display: grid;
        gap: .75rem;
        .newItem{
            margin-top: 2.75rem;
            display: grid;
            grid-auto-flow: column;
            gap: 1rem;

            input{
                display: grid;
                
                font: 400 1rem/140% 'Inter', sans-serif;
                color: var(--content-primary);

                align-items: center;
                height: 2.75rem;
                width: 100%;
                background-color: var(--background-secondary);
                border: solid 2px var(--border-primary);
                border-radius: .75rem;
                padding-inline: 1.125rem;
                transition: all .3s ease;

                &::placeholder{
                    font: 400 1rem/140% 'Inter', sans-serif;
                    color: var(--content-tertiary);
                    transition: all .3s ease;
                }

                &:hover{
                    outline: none;
                    border: solid 2px var(--border-hover);
                }

                &:focus, &:focus-within, &:active{
                    outline: none;
                    border: solid 2px var(--color-brand);
                    &::placeholder{
                        color: var(--content-primary);
                    }
                }
            }

            button{
                background-color: var(--color-brand);
                border: none;
                cursor: pointer;
                border-radius: .75rem;
                transition: transform 0.1s ease-in-out; /* Transição suave para o efeito de transformação */


                p{
                    font: var(--label);
                    color: var(--always-white);
                }

                &:active {
                    transform: scale(0.95); /* Diminui o tamanho para 95% quando pressionado */
                }
            }

        }

        ul{
            margin-top: 2.5rem;
            display: grid;
            gap: 1rem;
            li{
                list-style-type: none;
                display: flex;
                align-items: center;
                width: 100%;
                height: 3.06rem;
                background-color: var(--background-secondary);
                border-radius: .875rem;
                justify-content: space-between;
                padding-inline: .75rem;

                svg{
                    cursor: pointer;
                }

                svg:hover path{
                    fill: var(--color-danger);
                }

                .checkName{
                    display: flex;
                    align-items: center;
                    gap: .75rem;


                    h2{
                        font: var(--paragraph);
                        color: var(--content-secondary);
                    }

                    input[type = "checkbox"]{

                        display: none;

                    }

                    
                    label {
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                        background-image: url(../assets/checkdefoult.svg); /* Coloque o caminho correto para o seu SVG */
                        background-size: cover;
                        cursor: pointer;
                        transition: all .2s ease;
                        
                        
                        &:hover{
                            background-image: url(../assets/checkhover.svg); /* Coloque o caminho correto para o seu SVG */
                            background-size: cover;
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                    
                    input[type="checkbox"]:checked + label {
                        background-image: url(../assets/checkboxchek.svg); /* Coloque o caminho para o SVG do "marcado" */
                    }
                }
            }
        }
    }   
    
    
    .show-alert{
        animation: entry 2s both ease;
        margin-top: 2.25rem;
        background-color: var(--color-danger);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1rem;
        padding-inline: 1rem;
        padding-block: .75rem;
        
    
        .msg{
            display: flex;
            align-items: center;
            gap: .5rem;
    
            h2{
                font: var(--label);
                color: var(--always-white);
            }
        }

    }


    .delete{
        display: none;
    }

}




@keyframes entry {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@keyframes leave {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
    
}